<!DOCTYPE html>
<html>
  <head>
    <title>searchthedocs demo</title>
    <link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/searchthedocs/src/css/searchthedocs.css"/>
  </head>
  <body>
    <div id="searchthedocs-container"></div>
  </body>
<script src="static/vendor/require/require.js"></script>
<script type="text/javascript">
{% include 'require_config.js' %}
</script>
<script type="text/javascript">
require(['main', 'jquery'], function(main) {
  $(document).ready(function(){
    main();
  });
});
</script>
</html>
